
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body { 
    font-family: 'Koulen', cursive;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: whitesmoke
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}


.menu .inicio {
    color: red;
}

.menu li:hover {
    background-color: coral;
    transition: ease-in .5s;
    cursor: pointer;
}

h2 {
    color: red;
    font-size: 2.5vw
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.contacto { 
   
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    background-color: red;
    font-family: 'Koulen', cursive;
    cursor: pointer;
}

.sobre {
    display: grid;
    width: 50vw;
}

.leer {
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
    background-color: gold;
    font-family: 'Koulen', cursive;
    cursor: pointer;
}

.texto {
    margin-left: 50vh;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.service {
 text-align: center;
 padding: 40px 40px 40px 40px;
 margin-left: 80vh;
 display: flex;
}

.camion3 {
    border-radius: 50%;
}

.parrafo1{
    font-size: 20px;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
}

.parrafo2 {
    font-size: 20px;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
}


.camioncito {
    align-items: center;
    justify-content: space-around;
    margin-left: 40px;
    font-size: 40px;
    margin-top: 30px;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 100px;
}

.garage {
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 90px;
}

